:root {
  --color-primary: 129, 140, 248;
}

/* Always take the width of scrollbar into consideration. */
/* Overrides the margin shift Radix UI applies when removing scrollbar. */
.prevent-layout-shift {
  overflow-y: scroll !important;
  margin-right: 0 !important;
}
