@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fallback to teal default if JS doesn't set correctly to make sure hover still works. */
  :root {
    --color-primary: 20, 184, 166;
  }

  /* Always take the width of scrollbar into consideration. */
  /* Overrides the margin shift Radix UI applies when removing scrollbar. */
  .prevent-layout-shift {
    overflow-y: scroll !important;
    margin-right: 0 !important;
  }

  .themed-text-base {
    @apply text-base text-zinc-600 dark:text-zinc-400;
  }

  .themed-text-medium {
    @apply font-medium text-zinc-800 dark:text-zinc-200;
  }

  .themed-icon {
    @apply text-zinc-300 dark:text-zinc-500;
  }

  .themed-link-icon {
    @apply text-zinc-500 transition hover:text-skin-primary dark:text-zinc-400 dark:hover:text-skin-primary;
  }

  .themed-icon-filled {
    @apply fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500;
  }

  .nav-container {
    top: -100px;
    transition: top 0.35s;
  }

  .nav-container.visible {
    top: 0;
  }
}
